.map-div-container{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    margin-top: 60px;
    background-color:#f8f8f8;
    overflow-x: hidden;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
    
}

.map-part-div{
    text-decoration : underline;
    color: darkturquoise;
    text-decoration-color: black;
}

#us-map{
    display: block;
    position: absolute;
    top: 200px;
    left: 5%;
    margin: auto;
    width: 50%;
    height: 50%;
  }
  
  path:hover, circle:hover {
    stroke: #002868 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #002868 !important;
    cursor: pointer;
  }
  
  #path67 {
    fill: none !important;
    stroke: #A9A9A9 !important;
    cursor: default;
  }
  #info-box {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #ffffff;
    border: 2px solid #BF0A30;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
  }
 